:root {
    --primary-color: #FFD700;       /* צהוב */
    --background-color: #ffffff;    /* רקע כללי */
    --text-color: #222222;          /* טקסט */
    --card-bg: #fdfdfd;             /* רקע של תבנית */
    --border-color: #FFD700;
    --input-bg: #ffffff;
  }
  
  body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  

  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;       /* מרכז אופקית */
    justify-content: flex-start; /* לא למרכז אנכית בגלל ה-header */
    padding: 60px 20px;        /* ריווח מלמעלה */
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .card {
    width: 100%;
    max-width: 600px;
    background-color: var(--card-bg);
    border-left: 4px solid var(--primary-color);
    padding: 30px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
  }
  
  
  h1, h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
  }
  
  .card div {
    color: var(--text-color);
    font-weight: bold;
    margin-top: 10px;
  }
  
  .card input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    background-color: var(--input-bg);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  .card button {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: #000;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  

  #placeContainer {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 40px auto;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .place_button {
    width: 40px;
    height: 40px;
    font-size: 14px;
    background-color: #ffcc00;
    color: #000;
    cursor: pointer;
    position: absolute;
    border-radius: 6px;
  }
  
/* הבר במרכז */
.bar-image {
  width: 350px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 10;
}

.place_button.available{
  background-color: #ffcc00;
  color: #000;
  cursor: pointer;
}
.place_button.unavailable {
  background-color: blue;
  color: white;
  cursor: not-allowed;
}

.place_button.selected {
  background-color: green;
  color: white;
  cursor: pointer;
}


